<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>NIHIL KNIGHT</title>
</head>

<body>

    <h1>{{ theme }}/{{ subtheme }}/{{ subsubtheme }}</h1>

    <ul>
        {% for article in articles %}
        <li><a href="{{ url_for('article', theme=theme, subtheme=subtheme, subsubtheme=subsubtheme, article_id=article.id) }}">{{ article.time }}-{{ article.name }}</a></li>
        {% endfor %}
    </ul>

    <a href="{{ url_for('subtheme', theme=theme, subtheme=subtheme) }}">Back</a>

</body>
</html>
